@import url("https://use.typekit.net/bvf1dex.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700|Roboto");

/* font-family: cooper-black-std, serif;

font-weight: 400;

font-style: italic; */
/* split */
@media (min-width: 768px) {
  .h-md-100 {
    height: 100vh;
  }
}

.btn-round {
  border-radius: 30px;
}

.bg-side {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.bg-side-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.text-cyan {
  color: #35bdff;
}

.login-container {
  width: 75%
}

/**/
.input-line {
  width: 75%;
  background-color: transparent;
  box-sizing: border-box;
  border: 2px solid #E6E6E6;
  transition: 500ms;
}

.zip-input {
  width: 35%;
}

.pas-h {
  padding-bottom: 0rem !important;
}

.zip-sign-up {
  display: none !important;
}

.line-height-tall {
  line-height: 3.5;
}

.text-smaller {
  font-size: .95rem;
}

.text-tiny {
  font-weight: 600;
  font-size: .85rem;
}

.a-no-style {
  color: inherit;
  text-decoration: inherit;
}

.a-underline-style:hover {
  color: inherit;
  text-decoration: underline !important;
  cursor: pointer !important;
}

.help-signup {
  display: none;
  margin-top: 10px
}

.error-zip {
  display: none;
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
}

.error-submit {
  display: none;
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
}

.error {
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
}

.mt-5 {
  margin-top: 5px;
}

.i-2 {
  margin-bottom: 0px;
  border-radius: 0px;
}

.pb-4 {
  display: block;
}

.t-1 {
  font-family: cooper-black-std, serif;
  font-weight: 400;
  font-style: normal;
}

.t-2 {
  font-family: Poppins, serif;
  font-weight: 600;
  font-style: normal;
}

.i-1 {
  margin-bottom: 15px;
  border-radius: 0px;
}

.font-Poppins {
  font-family: Poppins;
  font-weight: 600;
}

.t-custom-login {
  font-family: Poppins;
  position: relative;
  left: -3%;
  font-weight: 700;
  margin-bottom: 25px;
}

.btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #000;
  padding: .675rem .95rem;
  font-size: 1rem;
  line-height: 1em;
  font-family: Poppins;
  font-weight: 800;
  border-radius: 0px;
}

.btn:hover {
  user-select: none;
  background-color: #26221D;
  padding: .675rem .95rem;
  font-size: 1rem;
  line-height: 1em;
  font-family: Poppins;
  font-weight: 800;
  border-radius: 0px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.nav-logo {
  margin: auto;
}

nav {
  cursor: auto;
  z-index: 100;
}

.modal-dialog {
  margin-top: 25vh;
}

.form-body {
  margin: 7%;
  margin-top: 0%;
  padding-bottom: 0px;
}

.modal-footer, .modal-header {
  border: none
}

.modal-footer {
  padding-top: 0px;
}

.modal-body {
  padding-bottom: 0px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

.nav-btn {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  border: 3px solid;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  font-size: 10px;
  top: -4px;
}

.signup-btn {
  border: none;
  font-weight: 700;
}

.nav-btn:active {
  border: 3px solid;
  -moz-box-shadow: 0px 0px 0px 0px;
  -webkit-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
  top: -2px;
  font-size: 10px;
  left: 5px;
}

.mapboxgl-popup-close-button {
  display: none
}

.mapboxgl-popup-content {
  border-radius: 20px;
  padding: 25px 17px 3px;
  cursor: pointer;
}

.marker-title {
  position: relative;
  top: -0.7em;
}

nav {
  position: absolute !important;
  width: 100% !important;
}

.modal-dialog {
  margin-top: 15vh;
}

.title-snd {
  font-family: Poppins;
  font-weight: 600;
}

.no-suggestions {
  padding: 0.5rem;
  padding-left: 2px;
}

.suggestions {
  border: 1px solid #ced4da;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
}

#suggestionBox {
  border-radius: 0px;
}

#suggestionBox:focus, #suggestionBox:active {
  outline: none !important;
  box-shadow: none !important;
}

.suggestions li {
  padding: 0.5rem;
  width: 100%
}

.sugg {
  border-radius: 0px;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #e6e6e6;
  color: #333333;
  cursor: pointer;
  font-weight: 700;
}

.logout-btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #8D030B;
  padding: 0em -0.05rem;
  font-size: 0.75em;
  line-height: 1.5;
  font-family: Poppins;
  font-weight: 800;
  border-radius: 0px;
  border: none;
}

.logout-btn:hover, .logout-btn:focus, .logout-btn:active {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #590107;
  padding: 0em -0.05rem;
  font-size: 0.75em;
  line-height: 1.5;
  font-family: Poppins;
  font-weight: 800;
  border-radius: 0px;
  border: none;
}

.all-sugg-btn {
  position: absolute;
  left: 3vh;
  bottom: 3vh;
}

.sugg-ul {
  padding-left: 0px;
}

.sugg-item {
  font-size: 1em;
  font-weight: 600;
  list-style: none;
  background-color: #74d0f091;
  padding: 5px 12px;
  border-radius: 6px;
  margin-top: 7px;
  text-align: center;
}

.collapse:not(.show) {
  display: block;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: unset;
  -ms-flex-positive: 1;
  flex-grow: unset;
  -ms-flex-align: center;
  align-items: center;
}

.text-right-logout {
  position: absolute;
  right: 5vh;
  top: 1vh;
}

.text-stay-new {
  position: absolute;
}

#m-new-place {
  display: none;
}

#m-logout {
  display: none
}

#logout-btn {
  display: block;
}

@media only screen and (max-device-width : 667px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  #logout-btn {
    display: none;
  }

  #m-logout {
    display: inline-block;
  }

  #m-new-place {
    display: inline-block;
    left: -15vh;
  }

  #new-place {
    display: none;
  }
}